#set controllers = $getVar('allinone_compute', [])
#set computes = $getVar('allinone_compute', [])
#set storages = $getVar('allinone_compute', [])
#set networks = $getVar('allinone_compute', [])
#if not $isinstance($controllers, list)
    #set controllers = [$controllers]
#end if
#if not $isinstance($computes, list)
    #set computes = [$computes]
#end if
#if not $isinstance($storages, list)
    #set storages = [$storages]
#end if
#if not $isinstance($networks, list)
    #set networks = [$networks]
#end if

#set credentials = $getVar('server_credentials', {})
#set username = $credentials.get('username', 'root')
#set password = $credentials.get('password', 'root')
[controller]
#for controller in $controllers
    #set controller_ip = $controller.management.ip
    #set controller_hostname = $controller.hostname
$controller_hostname ansible_ssh_host=$controller_ip ansible_ssh_user=$username ansible_ssh_password=$password
#end for

[compute]
#for compute in $computes
    #set compute_ip = $compute.management.ip
    #set compute_hostname = $compute.hostname
$compute_hostname ansible_ssh_host=$compute_ip ansible_ssh_user=$username ansible_ssh_password=$password
#end for

[network]
#for network in $networks
    #set network_ip = $network.management.ip
    #set network_hostname = $network.hostname
$network_hostname ansible_ssh_host=$network_ip ansible_ssh_user=$username ansible_ssh_password=$password
#end for

[storage]
#for storage in storages
    #set storage_ip = $storage.management.ip
    #set storage_hostname = $storage.hostname
$storage_hostname ansible_ssh_host=$storage_ip ansible_ssh_user=$username ansible_ssh_password=$password
#end for
