{
   "override_attributes": {
       "endpoints": {
           "compute-vnc-bind": {
               "host":"$host.deployed_package_config.roles_mapping.os_compute.management.ip"
           }
       }
   } 
}
