{
    "nova": {
        "nova": "nova"
    },
    "horizon": {
        "horizon": "horizon"
    },
    "keystone": {
        "identity": "identity"
    },
    "glance": {
        "glance": "glance"
    },
    "ceilometer": {
        "ceilometer": "ceilometer"
    },
    "neutron": {
        "neutron": "neutron"
    },
    "cinder": {
        "cinder": "cinder"
    },
    "heat": {
       "heat": "heat"
    },
    "dash": {
        "dash": "dash"
    }
}
