{
    "openstack_identity_bootstrap_token": {
        "openstack_identity_bootstrap_token": "openstack_identity_bootstrap_token"
    },
    "neutron_metadata_secret": {
        "neutron_metadata_secret": "neutron_metadata_secret"
    }
}
