*.py[cod]
*~
*.swp


# C extensions
*.so

# log extensions
*.log

# temp files
install/env.sh

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.testrepository
cover
# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
