amqplib
argparse
celery
Markdown<2.5
Cheetah<=2.4.1
daemon
Flask
Flask-Login
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
Flask-WTF
itsdangerous
importlib
lazypy
lockfile
MySQL-python
netaddr
paramiko
PyChef
python-daemon!=2.0,!=2.0.1,!=2.0.2,!=2.0.3
SQLAlchemy>=0.9.0
simplejson
requests
redis

