#set aval_services = ['nova', 'horizon', 'keystone', 'glance', 'ceilometer', 'neutron', 'cinder', 'heat', 'dash']
#set config = $cluster.deployed_package_config
#set service_config = {}
#if "service_credentials" in $config:
    #set service_config = $cluster.deployed_package_config.service_credentials
#end if    
#set databagitems = {}
#if service_config:
    #for $service, $value in $service_config.iteritems():
        #if $service in $aval_services:
            #set databagitems[$service] = {$value.username: $value.password}
        #end if
    #end for

#else:
    #for $service in $aval_services:
        #set databagitems[$service] = {$service: $service}
    #end for
#end if
#import simplejson as json
#set output = json.dumps($databagitems, encoding='utf-8')
$output
