#set required_services = ['openstack-image', 'openstack-compute', 'openstack-block-storage', 'openstack-orchestration', 'openstack-network', 'rbd']
#set services_config = $getVar('services_credentials', {})

#set databagitems = {}
#for $service in $required_services:                                             
    #if $service not in $databagitems:                                           
         #set databagitems[$service] = {$service: $service}                      
    #end if                                                                      
#end for

#if services_config:
    #for $service, $value in $services_config.iteritems():
        #if $service in $required_services:
            #set databagitems[$service] = {$service: $value.password}
        #end if
    #end for
#end if
#import simplejson as json
#set output = json.dumps($databagitems, encoding='utf-8')
$output
