{
   "override": {
       "openstack": {
           "endpoints": {
               "compute-vnc-bind": {
                   "host":"$os_compute.management.ip"
               }
           }
       }
   } 
}
