#set required_users = ['admin']
#set config = $cluster.deployed_package_config
#set user_config = {}
#if "users_credentials" in $config:
    #set user_config = $cluster.deployed_package_config.users_credentials
#end if
#set databagitems = {}
#if user_config:
    #for $user, $value in $user_config.iteritems():
        #set databagitems[$user] = {$value.username: $value.password}
    #end for
#end if
#for $user in $required_users:
    #if $user not in $databagitems:
         #set databagitems[$user] = {$user: $user}
    #end if
#end for
#import simplejson as json
#set output = json.dumps($databagitems, encoding='utf-8')
$output
