{
    "openstack_identity_bootstrap_token": {
        "openstack_identity_bootstrap_token": "mytoken"    
    },
    "neutron_metadata_secret": {
        "neutron_metadata_secret": "secret"    
    }
}
