{
    "name": "$fullname",
    "hostname": "$hostname",
    "profile": "$profile",
    "gateway": "$gateway",
    "name_servers": "$name_servers",
    "name_servers_search": "$search_path",
    "proxy": "$getVar('http_proxy', '')",
    "modify_interface":
        #import simplejson
        #set interfaces = $networks.interfaces
        #set rekeyed = {}
        #for $nic, $val in $interfaces.iteritems():
            #set $rekeyed = { "ipaddress-vnet0" : $val.ip, "netmask-vnet0": $val.netmask, "management-vnet0": $val.is_mgmt, "static-vnet0" : True }
        #if $val.is_mgmt:
          #set $rekeyed["macaddress-vnet0"] = $mac_address
          #set $rekeyed["dnsname-vnet0"] = $dns
            #end if
        #end for
        #set $str=simplejson.dumps($rekeyed, encoding='utf-8')
        $str
    ,
    "ksmeta":{
        "username": "$server_credentials.username",
        #import crypt
        #set $password = crypt.crypt($server_credentials.password, "az")
        "password": "$password",
        #set f=[(k + ' ' + v['vol_percentage'] or v['vol_size']) for k,v in $partition.iteritems()]
        #set $partition_config = '; '.join($f)
        "partition": "$partition_config",
        "https_proxy": "$getVar('https_proxy', '')",
        "ignore_proxy": "$getVar('ignore_proxy', '')",
        "ntp_server": "$ntp_server"
    }
}

