#set ip_settings={}
#for k,v in $getVar('ip_settings', {}).items()
#set host_ip_settings={}
#for intf in v
#set $host_ip_settings[$intf["alias"]]=intf
#end for
#set $ip_settings[$k]=$host_ip_settings
#end for

# localhost
127.0.0.1 localhost
#set controllers = $getVar('controller', [])
#set computes = $getVar('compute', [])
#if not $isinstance($controllers, list)
    #set controllers = [$controllers]
#end if
#if not $isinstance($compute, list)
    #set computes = [$computes]
#end if
# controller
#for worker in $controllers
    #set worker_hostname = $worker.hostname
    #set worker_ip = $ip_settings[$worker_hostname].mgmt.ip
$worker_ip $worker_hostname
#end for
# compute
#for worker in $computes
    #set worker_hostname = $worker.hostname
    #set worker_ip = $ip_settings[$worker_hostname].mgmt.ip
$worker_ip $worker_hostname
#end for
