{% extends 'layout.jinja' %}
{% from 'macros.jinja' import with_errors %}

{% block title %}Login{% endblock %}
{% block content %}
<form class=form-horizontal action="{{ url_for('login', next=request.args.get('next')) }}" method=post>
  {{ form.hidden_tag() }}
  {{ with_errors(form.email, placeholder='Email') }}
  {{ with_errors(form.password, placeholder='Password') }}
  <div class=control-group>
    <div class=controls>
      <label class=checkbox>
        <input type=checkbox name=remember> Remember me
      </label>
      <button type=submit class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
{% endblock %}
