#set credentials = $service_credentials

## allinone compute management IP/interface
#set allinone_compute_mgmt_nic = $allinone_compute.management.interface
#set allinone_compute_mgmt_ip = $allinone_compute.management.ip
{
  "name": "testing",
  "description": "Environment used in testing the upstream cookbooks and reference Chef repository",
  "cookbook_versions": {
  },
  "json_class": "Chef::Environment",
  "chef_type": "environment",
  "default_attributes": {
  },
  "override_attributes": {
    "mysql": {
      "server_root_password": "test",
      "server_debian_password": "root",
      "server_repl_password": "root",
      "allow_remote_root": true,
      "root_network_acl": "%"
    },
    "collectd": {
      "server": {
        "host": "metrics",
        "port": "2003",
        "protocol": "udp"
      }
    },
    "openstack": {
      "auth": {
        "validate_certs": false
      },
      "block-storage": {
        "syslog": {
          "use": false
        },
        "api": {
          "ratelimit": "False"
        },
        "debug": true,
        "image_api_chef_role": "os-image",
        "identity_service_chef_role": "os-identity",
        "rabbit_server_chef_role": "os-ops-messaging"
      },
      "dashboard": {
        "use_ssl": "false"
      },
      "compute": {
        "syslog": {
          "use": false
        },
        "libvirt": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "novnc_proxy": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "xvpvnc_proxy": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "image_api_chef_role": "os-image",
        "identity_service_chef_role": "os-identity",
        "nova_setup_chef_role": "os-compute-api",
        "rabbit_server_chef_role": "os-ops-messaging",
        "ratelimit": {
          "api": {
            "enabled": false
          },
          "volume": {
            "enabled": false
          }
        },
        "network": {
          "service_type": "neutron",
          "fixed_range": "10.0.0.0/8"
        }
      },
      "network": {
        "verbose": "True",
        "debug": "True",
        "service_plugins": [
          "neutron.services.l3_router.l3_router_plugin.L3RouterPlugin"
        ],
        "ml2": {
          "type_drivers": "local,flat,vlan,gre",
          "tenant_network_types": "vlan,gre",
          "network_vlan_ranges": "physnet1:1000:2999",
          "enable_security_group": "True"
        },
        "openvswitch": {
          "tenant_network_type": "vlan",
          "network_vlan_ranges": "physnet1:1000:2999",
          "bridge_mappings": "physnet1:br-eth1",
          "fw_driver": "neutron.agent.firewall.NoopFirewallDriver"
        }
      },
      "db": {
        "bind_interface": "$allinone_compute_mgmt_nic",
        "compute": {
          "host": "$allinone_compute_mgmt_ip"
        },
        "identity": {
          "host": "$allinone_compute_mgmt_ip"
        },
        "image": {
          "host": "$allinone_compute_mgmt_ip"
        },
        "network": {
          "host": "$allinone_compute_mgmt_ip"
        },
        "volume": {
          "host": "$allinone_compute_mgmt_ip"
        },
        "dashboard": {
          "host": "$allinone_compute_mgmt_ip"
        },
        "telemetry": {
          "host": "$allinone_compute_mgmt_ip"
        },
        "orchestration": {
          "host": "$allinone_compute_mgmt_ip"
        }
      },
      "developer_mode": true,
      "endpoints": {
        "db": {
          "host": "$allinone_compute_mgmt_ip"
        },
        "mq": {
          "host": "$allinone_compute_mgmt_ip"
        },
        "compute-api": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "8774",
          "path": "/v2/%(tenant_id)s"
        },
        "compute-api-bind": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "compute-ec2-admin": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "8773",
          "path": "/services/Admin"
        },
        "compute-ec2-api": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "8773",
          "path": "/services/Cloud"
        },
        "compute-xvpvnc": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "6081",
          "path": "/console"
        },
        "compute-novnc": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "6080",
          "path": "/vnc_auto.html"
        },
        "compute-novnc-bind": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "vnc_bind": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "image-api": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "9292",
          "path": "/v2"
        },
        "image-api-bind": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "image-registry": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "9191",
          "path": "/v2"
        },
        "image-registry-bind": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "identity-bind": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "identity-api": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "5000",
          "path": "/v2.0"
        },
        "identity-admin": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "35357",
          "path": "/v2.0"
        },
        "block-storage-api": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "8776",
          "path": "/v1/%(tenant_id)s"
        },
        "block-storage-api-bind": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "telemetry-api": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "8777",
          "path": "/v1"
        },
        "network-api": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "9696",
          "path": ""
        },
        "network-api-bind": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "network-openvswitch": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "orchestration-api": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "8004",
          "path": "/v1/%(tenant_id)s"
        },
        "orchestration-api-cfn": {
          "host": "$allinone_compute_mgmt_ip",
          "scheme": "http",
          "port": "8000",
          "path": "/v1"
        }
      },
      "identity": {
        "admin_user": "admin",
        "bind_interface": "$allinone_compute_mgmt_nic",
        "catalog": {
          "backend": "sql"
        },
        "debug": true,
        "rabbit_server_chef_role": "os-ops-messaging",
        "roles": [
          "admin",
          "keystone_admin",
          "keystone_service_admin",
          "member",
          "netadmin",
          "sysadmin"
        ],
        "syslog": {
          "use": false
        },
        "tenants": [
          "admin",
          "service",
          "demo"
        ],
        "token": {
          "backend": "sql"
        },
        "users": {
          "admin": {
            "password": "admin",
            "default_tenant": "admin",
            "roles": {
              "admin": [
                "admin"
              ],
              "keystone_admin": [
                "admin"
              ],
              "keystone_service_admin": [
                "admin"
              ]
            }
          },
          "demo": {
            "password": "demo",
            "default_tenant": "demo",
            "roles": {
              "member": [
                "demo"
              ]
            }
          }
        }
      },
      "image": {
        "api": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "debug": true,
        "identity_service_chef_role": "os-identity",
        "rabbit_server_chef_role": "os-ops-messaging",
        "registry": {
          "bind_interface": "$allinone_compute_mgmt_nic"
        },
        "syslog": {
          "use": false
        },
        "upload_image": {
          "cirros": "http://download.cirros-cloud.net/0.3.2/cirros-0.3.2-x86_64-disk.img"
        },
        "upload_images": [
          "cirros"
        ]
      },
      "memcached_servers": [
        "$allinone_compute_mgmt_ip:11211"
      ],
      "mq": {
        "user": "$credentials.rabbitmq.username",
        "password": "$credentials.rabbitmq.password",
        "vhost": "/nova",
        "network": {
          "service_type": "rabbitmq"
        }
      }
    }
  }
}
