#set ha_vip = $getVar('ha_vip', None)
#if not ha_vip
#raise ValueError("ha_vip hasnot been set yet!")
#end if
{
  "default_attributes": {
    "collectd": {
      "server": {
        "port": "2003",
        "protocol": "udp"
      }
    },
    "haproxy": {
      "incoming_address": "$ha_vip"
    },
    "keepalived": {
      "vip": {
        "ipaddress": "$ha_vip",
        "interface": "eth0"
      }
    },
    "openstack": {
      "endpoints": {
        "compute-api": {
          "host": "$ha_vip"
        },
        "compute-ec2-admin": {
          "host": "$ha_vip"
        },
        "compute-ec2-api": {
          "host": "$ha_vip"
        },
        "compute-novnc": {
          "host": "$ha_vip"
        },
        "image-api": {
          "host": "$ha_vip"
        },
        "image-registry": {
          "host": "$ha_vip"
        },
        "identity-api": {
          "host": "$ha_vip"
        },
        "identity-admin": {
          "host": "$ha_vip"
        },
        "block-storage-api": {
          "host": "$ha_vip"
        },
        "telemetry-api": {
          "host": "$ha_vip"
        },
        "network-api": {
          "host": "$ha_vip"
        },
        "orchestration-api": {
          "host": "$ha_vip"
        },
        "orchestration-api-cfn": {
          "host": "$ha_vip"
        }
      }
    }
  }
}
