NAME = 'chef_installer'
INSTANCE_NAME = 'chef_installer'
SETTINGS = {
    'chef_url': 'https://{{ chef_server }}',
    'chef_server_ip': '{{ chef_server }}',
    'chef_server_dns': 'compass',
    'key_dir': '/etc/compass.pem',
    'client_name': 'compass',
    'databags': []
}
