Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: execute[Keystone: sleep] ran successfully
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: Processing directory[/etc/keystone] action create (openstack-identity::server line 73)
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: directory[/etc/keystone] owner changed to 163
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: directory[/etc/keystone] mode changed to 700
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: Processing directory[/etc/keystone/ssl] action create (openstack-identity::server line 79)
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: Processing file[/var/lib/keystone/keystone.db] action delete (openstack-identity::server line 87)
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: Processing execute[keystone-manage pki_setup] action run (openstack-identity::server line 91)
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: Processing template[/etc/keystone/keystone.conf] action create (openstack-identity::server line 140)
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: template[/etc/keystone/keystone.conf] backed up to /var/chef/backup/etc/keystone/keystone.conf.chef-20140221203911.069202
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: template[/etc/keystone/keystone.conf] updated file contents /etc/keystone/keystone.conf
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: template[/etc/keystone/keystone.conf] owner changed to 163
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: template[/etc/keystone/keystone.conf] mode changed to 644
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: template[/etc/keystone/keystone.conf] sending restart action to service[keystone] (immediate)
Feb 21 20:39:11 server1.1  [2014-02-21T20:39:11-08:00] INFO: Processing service[keystone] action restart (openstack-identity::server line 64)
Feb 21 20:39:12 server1.1  [2014-02-21T20:39:11-08:00] INFO: service[keystone] restarted
Feb 21 20:39:12 server1.1  [2014-02-21T20:39:11-08:00] INFO: service[keystone] sending run action to execute[Keystone: sleep] (immediate)
Feb 21 20:39:12 server1.1  [2014-02-21T20:39:11-08:00] INFO: Processing execute[Keystone: sleep] action run (openstack-identity::server line 58)
Feb 21 20:39:22 server1.1  [2014-02-21T20:39:21-08:00] INFO: execute[Keystone: sleep] ran successfully
Feb 21 20:39:22 server1.1  [2014-02-21T20:39:21-08:00] INFO: Processing template[/etc/keystone/default_catalog.templates] action create (openstack-identity::server line 158)
Feb 21 20:39:22 server1.1  [2014-02-21T20:39:21-08:00] INFO: Processing execute[keystone-manage db_sync] action run (openstack-identity::server line 172)
Feb 21 20:39:43 server1.1  [2014-02-21T20:39:42-08:00] INFO: execute[keystone-manage db_sync] ran successfully
Feb 21 20:39:43 server1.1  [2014-02-21T20:39:42-08:00] INFO: Processing bash[bootstrap-keystone-admin] action run (openstack-identity::registration line 40)
Feb 21 20:39:45 server1.1  [2014-02-21T20:39:44-08:00] INFO: bash[bootstrap-keystone-admin] ran successfully
Feb 21 20:39:45 server1.1  [2014-02-21T20:39:44-08:00] INFO: Processing openstack-identity_register[Register 'admin' Tenant] action create_tenant (openstack-identity::registration line 80)
Feb 21 20:39:45 server1.1  [2014-02-21T20:39:44-08:00] INFO: Tenant 'admin' already exists.. Not creating.
Feb 21 20:39:45 server1.1  [2014-02-21T20:39:44-08:00] INFO: Tenant UUID: 87cf46951cc14159bd16b68e3eb96321
Feb 21 20:39:45 server1.1  [2014-02-21T20:39:44-08:00] INFO: Processing openstack-identity_register[Register 'service' Tenant] action create_tenant (openstack-identity::registration line 80)
Feb 21 20:39:46 server1.1  [2014-02-21T20:39:45-08:00] INFO: Created tenant 'service'
Feb 21 20:39:46 server1.1  [2014-02-21T20:39:45-08:00] INFO: Processing openstack-identity_register[Register 'admin' Role] action create_role (openstack-identity::registration line 92)
Feb 21 20:39:46 server1.1  [2014-02-21T20:39:45-08:00] INFO: Role 'admin' already exists.. Not creating.
Feb 21 20:39:46 server1.1  [2014-02-21T20:39:45-08:00] INFO: Role UUID: 8070c199fc2647c9a50176d11256bebc
Feb 21 20:39:46 server1.1  [2014-02-21T20:39:45-08:00] INFO: Processing openstack-identity_register[Register 'Member' Role] action create_role (openstack-identity::registration line 92)
Feb 21 20:39:47 server1.1  [2014-02-21T20:39:46-08:00] INFO: Created Role 'Member'
Feb 21 20:39:47 server1.1  [2014-02-21T20:39:46-08:00] INFO: Processing openstack-identity_register[Register 'compute' User] action create_user (openstack-identity::registration line 109)
Feb 21 20:39:48 server1.1  [2014-02-21T20:39:47-08:00] INFO: Created user 'service' for tenant 'service'
Feb 21 20:39:48 server1.1  [2014-02-21T20:39:47-08:00] INFO: Processing openstack-identity_register[Grant admin Role to service User in service Tenant] action grant_role (openstack-identity::registration line 119)
Feb 21 20:39:49 server1.1  [2014-02-21T20:39:48-08:00] INFO: Granted Role 'admin' to User 'service' in Tenant 'service'
Feb 21 20:39:49 server1.1  [2014-02-21T20:39:48-08:00] INFO: Processing openstack-identity_register[Register compute Service] action create_service (openstack-identity::registration line 131)
Feb 21 20:39:50 server1.1  [2014-02-21T20:39:49-08:00] INFO: Created service 'nova'
Feb 21 20:39:50 server1.1  [2014-02-21T20:39:49-08:00] INFO: Processing openstack-identity_register[Register compute Endpoint] action create_endpoint (openstack-identity::registration line 151)
Feb 21 20:39:50 server1.1  [2014-02-21T20:39:50-08:00] INFO: Created endpoint for service type 'compute'
Feb 21 20:39:50 server1.1  [2014-02-21T20:39:50-08:00] INFO: Processing openstack-identity_register[Register 'network' User] action create_user (openstack-identity::registration line 109)
Feb 21 20:39:51 server1.1  [2014-02-21T20:39:50-08:00] INFO: User 'service' already exists for tenant 'service'
Feb 21 20:39:51 server1.1  [2014-02-21T20:39:50-08:00] INFO: Processing openstack-identity_register[Grant admin Role to service User in service Tenant] action grant_role (openstack-identity::registration line 119)
Feb 21 20:39:52 server1.1  [2014-02-21T20:39:51-08:00] INFO: Role 'admin' already granted to User 'service' in Tenant 'service'
Feb 21 20:39:52 server1.1  [2014-02-21T20:39:51-08:00] INFO: Processing openstack-identity_register[Register network Service] action create_service (openstack-identity::registration line 131)
Feb 21 20:39:53 server1.1  [2014-02-21T20:39:52-08:00] INFO: Created service 'quantum'
Feb 21 20:39:53 server1.1  [2014-02-21T20:39:52-08:00] INFO: Processing openstack-identity_register[Register network Endpoint] action create_endpoint (openstack-identity::registration line 151)
Feb 21 20:39:54 server1.1  [2014-02-21T20:39:53-08:00] INFO: Created endpoint for service type 'network'
Feb 21 20:39:54 server1.1  [2014-02-21T20:39:53-08:00] INFO: Processing openstack-identity_register[Register 'volume' User] action create_user (openstack-identity::registration line 109)
Feb 21 20:39:54 server1.1  [2014-02-21T20:39:53-08:00] INFO: User 'service' already exists for tenant 'service'
Feb 21 20:39:54 server1.1  [2014-02-21T20:39:53-08:00] INFO: Processing openstack-identity_register[Grant admin Role to service User in service Tenant] action grant_role (openstack-identity::registration line 119)
Feb 21 20:39:55 server1.1  [2014-02-21T20:39:54-08:00] INFO: Role 'admin' already granted to User 'service' in Tenant 'service'
Feb 21 20:39:55 server1.1  [2014-02-21T20:39:54-08:00] INFO: Processing openstack-identity_register[Register volume Service] action create_service (openstack-identity::registration line 131)
Feb 21 20:39:56 server1.1  [2014-02-21T20:39:55-08:00] INFO: Created service 'cinder'
Feb 21 20:39:56 server1.1  [2014-02-21T20:39:55-08:00] INFO: Processing openstack-identity_register[Register volume Endpoint] action create_endpoint (openstack-identity::registration line 151)
Feb 21 20:39:57 server1.1  [2014-02-21T20:39:56-08:00] INFO: Created endpoint for service type 'volume'
Feb 21 20:39:57 server1.1  [2014-02-21T20:39:56-08:00] INFO: Processing openstack-identity_register[Register identity Service] action create_service (openstack-identity::registration line 131)
Feb 21 20:39:57 server1.1  [2014-02-21T20:39:56-08:00] INFO: Created service 'keystone'
Feb 21 20:39:57 server1.1  [2014-02-21T20:39:56-08:00] INFO: Processing openstack-identity_register[Register identity Endpoint] action create_endpoint (openstack-identity::registration line 151)
Feb 21 20:39:58 server1.1  [2014-02-21T20:39:57-08:00] INFO: Created endpoint for service type 'identity'
Feb 21 20:39:58 server1.1  [2014-02-21T20:39:57-08:00] INFO: Processing openstack-identity_register[Register 'image' User] action create_user (openstack-identity::registration line 109)
Feb 21 20:39:59 server1.1  [2014-02-21T20:39:58-08:00] INFO: User 'service' already exists for tenant 'service'
Feb 21 20:39:59 server1.1  [2014-02-21T20:39:58-08:00] INFO: Processing openstack-identity_register[Grant admin Role to service User in service Tenant] action grant_role (openstack-identity::registration line 119)
Feb 21 20:40:00 server1.1  [2014-02-21T20:39:59-08:00] INFO: Role 'admin' already granted to User 'service' in Tenant 'service'
Feb 21 20:40:00 server1.1  [2014-02-21T20:39:59-08:00] INFO: Processing openstack-identity_register[Register image Service] action create_service (openstack-identity::registration line 131)
Feb 21 20:40:00 server1.1  [2014-02-21T20:40:00-08:00] INFO: Created service 'glance'
Feb 21 20:40:00 server1.1  [2014-02-21T20:40:00-08:00] INFO: Processing openstack-identity_register[Register image Endpoint] action create_endpoint (openstack-identity::registration line 151)
Feb 21 20:40:01 server1.1  [2014-02-21T20:40:00-08:00] INFO: Created endpoint for service type 'image'
Feb 21 20:40:01 server1.1  [2014-02-21T20:40:00-08:00] INFO: Processing openstack-identity_register[Register 'object-store' User] action create_user (openstack-identity::registration line 109)
Feb 21 20:40:02 server1.1  [2014-02-21T20:40:01-08:00] INFO: User 'service' already exists for tenant 'service'
Feb 21 20:40:02 server1.1  [2014-02-21T20:40:01-08:00] INFO: Processing openstack-identity_register[Grant admin Role to service User in service Tenant] action grant_role (openstack-identity::registration line 119)
Feb 21 20:40:03 server1.1  [2014-02-21T20:40:02-08:00] INFO: Role 'admin' already granted to User 'service' in Tenant 'service'
Feb 21 20:40:03 server1.1  [2014-02-21T20:40:02-08:00] INFO: Processing openstack-identity_register[Register object-store Service] action create_service (openstack-identity::registration line 131)
Feb 21 20:40:04 server1.1  [2014-02-21T20:40:03-08:00] INFO: Created service 'swift'
Feb 21 20:40:04 server1.1  [2014-02-21T20:40:03-08:00] INFO: Processing openstack-identity_register[Create EC2 credentials for 'admin' user] action create_ec2_credentials (openstack-identity::registration line 166)
Feb 21 20:40:05 server1.1  [2014-02-21T20:40:04-08:00] INFO: Created EC2 Credentials for User 'admin' in Tenant 'admin'
Feb 21 20:40:05 server1.1  [2014-02-21T20:40:04-08:00] INFO: Processing openstack-identity_register[Create EC2 credentials for 'monitoring' user] action create_ec2_credentials (openstack-identity::registration line 166)
Feb 21 20:40:07 server1.1  [2014-02-21T20:40:06-08:00] ERROR: Unable to create EC2 Credentials for User 'monitoring' in Tenant 'service'
Feb 21 20:40:07 server1.1  [2014-02-21T20:40:06-08:00] ERROR: Error was: Could not lookup uuid for ec2-credentials:tenant=>service. Error was 'Client' object has no attribute 'auth_user_id'
Feb 21 20:40:07 server1.1  (1)
Feb 21 20:40:07 server1.1  [2014-02-21T20:40:06-08:00] INFO: Processing package[openstack-cinder] action upgrade (openstack-block-storage::cinder-common line 26)
Feb 21 20:40:07 server1.1  [2014-02-21T20:40:06-08:00] INFO: package[openstack-cinder] installing openstack-cinder-2013.1.4-1.el6 from openstack repository
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: package[openstack-cinder] upgraded from uninstalled to 2013.1.4-1.el6
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: Processing directory[/etc/cinder] action create (openstack-block-storage::cinder-common line 44)
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/etc/cinder] owner changed to 165
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/etc/cinder] group changed to 165
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/etc/cinder] mode changed to 750
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: Processing template[/etc/cinder/cinder.conf] action create (openstack-block-storage::cinder-common line 51)
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: template[/etc/cinder/cinder.conf] backed up to /var/chef/backup/etc/cinder/cinder.conf.chef-20140221204110.415861
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: template[/etc/cinder/cinder.conf] updated file contents /etc/cinder/cinder.conf
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: template[/etc/cinder/cinder.conf] owner changed to 165
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: template[/etc/cinder/cinder.conf] mode changed to 644
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: Processing package[python-cinderclient] action upgrade (openstack-block-storage::api line 32)
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: Processing package[MySQL-python] action upgrade (openstack-block-storage::api line 41)
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: Processing directory[/var/cache/cinder] action create (openstack-block-storage::api line 46)
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/var/cache/cinder] created directory /var/cache/cinder
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/var/cache/cinder] owner changed to 165
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/var/cache/cinder] group changed to 165
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/var/cache/cinder] mode changed to 700
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: Processing directory[/var/lock/cinder] action create (openstack-block-storage::api line 52)
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/var/lock/cinder] created directory /var/lock/cinder
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/var/lock/cinder] owner changed to 165
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/var/lock/cinder] group changed to 165
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: directory[/var/lock/cinder] mode changed to 700
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: Processing service[cinder-api] action enable (openstack-block-storage::api line 58)
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: service[cinder-api] enabled
Feb 21 20:41:11 server1.1  [2014-02-21T20:41:10-08:00] INFO: Processing execute[cinder-manage db sync] action run (openstack-block-storage::api line 71)
Feb 21 20:41:30 server1.1  [2014-02-21T20:41:30-08:00] INFO: execute[cinder-manage db sync] ran successfully
Feb 21 20:41:30 server1.1  [2014-02-21T20:41:30-08:00] INFO: Processing template[/etc/cinder/api-paste.ini] action create (openstack-block-storage::api line 73)
Feb 21 20:41:30 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/api-paste.ini] backed up to /var/chef/backup/etc/cinder/api-paste.ini.chef-20140221204130.194587
Feb 21 20:41:30 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/api-paste.ini] updated file contents /etc/cinder/api-paste.ini
Feb 21 20:41:30 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/api-paste.ini] owner changed to 165
Feb 21 20:41:30 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/api-paste.ini] mode changed to 644
Feb 21 20:41:30 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/api-paste.ini] sending restart action to service[cinder-api] (immediate)
Feb 21 20:41:30 server1.1  [2014-02-21T20:41:30-08:00] INFO: Processing service[cinder-api] action restart (openstack-block-storage::api line 58)
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: service[cinder-api] restarted
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: Processing template[/etc/cinder/policy.json] action create (openstack-block-storage::api line 88)
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/policy.json] backed up to /var/chef/backup/etc/cinder/policy.json.chef-20140221204130.442890
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/policy.json] updated file contents /etc/cinder/policy.json
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/policy.json] owner changed to 165
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/policy.json] mode changed to 644
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: template[/etc/cinder/policy.json] not queuing delayed action restart on service[cinder-api] (delayed), as it's already been queued
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: Processing package[MySQL-python] action upgrade (openstack-block-storage::scheduler line 45)
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: Processing service[cinder-scheduler] action enable (openstack-block-storage::scheduler line 50)
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: service[cinder-scheduler] enabled
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: Processing service[cinder-scheduler] action start (openstack-block-storage::scheduler line 50)
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: service[cinder-scheduler] started
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: Processing package[openstack-nova-common] action upgrade (openstack-compute::nova-common line 37)
Feb 21 20:41:31 server1.1  [2014-02-21T20:41:30-08:00] INFO: package[openstack-nova-common] installing openstack-nova-common-2013.1.4-7.el6 from openstack repository
Feb 21 20:41:52 server1.1  [2014-02-21T20:41:52-08:00] INFO: package[openstack-nova-common] upgraded from uninstalled to 2013.1.4-7.el6
Feb 21 20:41:52 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing package[python-memcached] action install (openstack-compute::nova-common line 46)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing directory[/etc/nova] action create (openstack-compute::nova-common line 51)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/etc/nova] owner changed to 162
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/etc/nova] group changed to 162
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/etc/nova] mode changed to 700
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing directory[/etc/nova/rootwrap.d] action create (openstack-compute::nova-common line 59)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/etc/nova/rootwrap.d] created directory /etc/nova/rootwrap.d
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/etc/nova/rootwrap.d] owner changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/etc/nova/rootwrap.d] group changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/etc/nova/rootwrap.d] mode changed to 700
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing template[/etc/nova/nova.conf] action create (openstack-compute::nova-common line 134)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/nova.conf] backed up to /var/chef/backup/etc/nova/nova.conf.chef-20140221204152.340272
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/nova.conf] updated file contents /etc/nova/nova.conf
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/nova.conf] owner changed to 162
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/nova.conf] mode changed to 644
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing template[/etc/nova/rootwrap.conf] action create (openstack-compute::nova-common line 164)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.conf] backed up to /var/chef/backup/etc/nova/rootwrap.conf.chef-20140221204152.347747
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.conf] updated file contents /etc/nova/rootwrap.conf
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.conf] group changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.conf] mode changed to 644
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing template[/etc/nova/rootwrap.d/api-metadata.filters] action create (openstack-compute::nova-common line 172)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/api-metadata.filters] created file /etc/nova/rootwrap.d/api-metadata.filters
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/api-metadata.filters] updated file contents /etc/nova/rootwrap.d/api-metadata.filters
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/api-metadata.filters] owner changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/api-metadata.filters] group changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/api-metadata.filters] mode changed to 644
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing template[/etc/nova/rootwrap.d/compute.filters] action create (openstack-compute::nova-common line 180)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/compute.filters] created file /etc/nova/rootwrap.d/compute.filters
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/compute.filters] updated file contents /etc/nova/rootwrap.d/compute.filters
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/compute.filters] owner changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/compute.filters] group changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/compute.filters] mode changed to 644
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing template[/etc/nova/rootwrap.d/network.filters] action create (openstack-compute::nova-common line 188)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/network.filters] created file /etc/nova/rootwrap.d/network.filters
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/network.filters] updated file contents /etc/nova/rootwrap.d/network.filters
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/network.filters] owner changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/network.filters] group changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/etc/nova/rootwrap.d/network.filters] mode changed to 644
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing template[/root/openrc] action create (openstack-compute::nova-common line 199)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/root/openrc] created file /root/openrc
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/root/openrc] updated file contents /root/openrc
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/root/openrc] owner changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/root/openrc] group changed to 0
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: template[/root/openrc] mode changed to 600
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing execute[enable nova login] action run (openstack-compute::nova-common line 215)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: execute[enable nova login] ran successfully
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing directory[/var/lock/nova] action create (openstack-compute::api-ec2 line 28)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/var/lock/nova] created directory /var/lock/nova
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/var/lock/nova] owner changed to 162
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/var/lock/nova] group changed to 162
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: directory[/var/lock/nova] mode changed to 700
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing package[python-keystone] action upgrade (openstack-compute::api-ec2 line 36)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: Processing package[openstack-nova-api] action upgrade (openstack-compute::api-ec2 line 41)
Feb 21 20:41:53 server1.1  [2014-02-21T20:41:52-08:00] INFO: package[openstack-nova-api] installing openstack-nova-api-2013.1.4-7.el6 from openstack repository
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: package[openstack-nova-api] upgraded from uninstalled to 2013.1.4-7.el6
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: Processing service[nova-api-ec2] action enable (openstack-compute::api-ec2 line 48)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: service[nova-api-ec2] enabled
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: Processing template[/etc/nova/api-paste.ini] action create (openstack-compute::api-ec2 line 74)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: template[/etc/nova/api-paste.ini] backed up to /var/chef/backup/etc/nova/api-paste.ini.chef-20140221204156.594842
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: template[/etc/nova/api-paste.ini] updated file contents /etc/nova/api-paste.ini
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: template[/etc/nova/api-paste.ini] owner changed to 162
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: template[/etc/nova/api-paste.ini] mode changed to 644
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: template[/etc/nova/api-paste.ini] not queuing delayed action restart on service[nova-api-ec2] (delayed), as it's already been queued
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: template[/etc/nova/api-paste.ini] not queuing delayed action restart on service[nova-api-os-compute] (delayed), as it's already been queued
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: Processing directory[/var/lock/nova] action create (openstack-compute::api-os-compute line 28)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: Processing directory[/var/cache/nova] action create (openstack-compute::api-os-compute line 34)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: directory[/var/cache/nova] created directory /var/cache/nova
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: directory[/var/cache/nova] owner changed to 162
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: directory[/var/cache/nova] group changed to 162
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: directory[/var/cache/nova] mode changed to 700
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: Processing package[python-keystone] action upgrade (openstack-compute::api-os-compute line 40)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: Processing package[openstack-nova-api] action upgrade (openstack-compute::api-os-compute line 45)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: Processing service[nova-api-os-compute] action enable (openstack-compute::api-os-compute line 52)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:56-08:00] INFO: Processing service[nova-api-os-compute] action start (openstack-compute::api-os-compute line 52)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:57-08:00] INFO: service[nova-api-os-compute] started
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:57-08:00] INFO: Processing template[/etc/nova/api-paste.ini] action create (openstack-compute::api-os-compute line 78)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:57-08:00] INFO: Processing package[openstack-nova-cert] action upgrade (openstack-compute::nova-cert line 25)
Feb 21 20:41:57 server1.1  [2014-02-21T20:41:57-08:00] INFO: package[openstack-nova-cert] installing openstack-nova-cert-2013.1.4-7.el6 from openstack repository
Feb 21 20:42:05 server1.1  [2014-02-21T20:42:04-08:00] INFO: package[openstack-nova-cert] upgraded from uninstalled to 2013.1.4-7.el6
Feb 21 20:42:05 server1.1  [2014-02-21T20:42:04-08:00] INFO: Processing service[nova-cert] action enable (openstack-compute::nova-cert line 32)
Feb 21 20:42:05 server1.1  [2014-02-21T20:42:04-08:00] INFO: service[nova-cert] enabled
Feb 21 20:42:05 server1.1  [2014-02-21T20:42:04-08:00] INFO: Processing service[nova-cert] action restart (openstack-compute::nova-cert line 32)
Feb 21 20:42:05 server1.1  [2014-02-21T20:42:04-08:00] INFO: service[nova-cert] restarted
Feb 21 20:42:05 server1.1  [2014-02-21T20:42:04-08:00] INFO: Processing directory[/var/lock/nova] action create (openstack-compute::scheduler line 25)
Feb 21 20:42:05 server1.1  [2014-02-21T20:42:04-08:00] INFO: Processing package[openstack-nova-scheduler] action upgrade (openstack-compute::scheduler line 34)
Feb 21 20:42:05 server1.1  [2014-02-21T20:42:04-08:00] INFO: package[openstack-nova-scheduler] installing openstack-nova-scheduler-2013.1.4-7.el6 from openstack repository
Feb 21 20:42:11 server1.1  [2014-02-21T20:42:11-08:00] INFO: package[openstack-nova-scheduler] upgraded from uninstalled to 2013.1.4-7.el6
Feb 21 20:42:11 server1.1  [2014-02-21T20:42:11-08:00] INFO: Processing service[nova-scheduler] action enable (openstack-compute::scheduler line 41)
Feb 21 20:42:12 server1.1  [2014-02-21T20:42:11-08:00] INFO: service[nova-scheduler] enabled
Feb 21 20:42:12 server1.1  [2014-02-21T20:42:11-08:00] INFO: Processing service[nova-scheduler] action restart (openstack-compute::scheduler line 41)
Feb 21 20:42:12 server1.1  [2014-02-21T20:42:11-08:00] INFO: service[nova-scheduler] restarted
Feb 21 20:42:12 server1.1  [2014-02-21T20:42:11-08:00] INFO: Processing package[openstack-nova-novncproxy] action upgrade (openstack-compute::vncproxy line 26)
Feb 21 20:42:12 server1.1  [2014-02-21T20:42:11-08:00] INFO: package[openstack-nova-novncproxy] installing openstack-nova-novncproxy-2013.1.4-7.el6 from openstack repository
Feb 21 20:42:21 server1.1  [2014-02-21T20:42:20-08:00] INFO: package[openstack-nova-novncproxy] upgraded from uninstalled to 2013.1.4-7.el6
Feb 21 20:42:21 server1.1  [2014-02-21T20:42:20-08:00] INFO: Processing package[openstack-nova-console] action upgrade (openstack-compute::vncproxy line 35)
Feb 21 20:42:21 server1.1  [2014-02-21T20:42:21-08:00] INFO: package[openstack-nova-console] installing openstack-nova-console-2013.1.4-7.el6 from openstack repository
Feb 21 20:42:25 server1.1  [2014-02-21T20:42:24-08:00] INFO: package[openstack-nova-console] upgraded from uninstalled to 2013.1.4-7.el6
Feb 21 20:42:25 server1.1  [2014-02-21T20:42:24-08:00] INFO: Processing package[openstack-nova-console] action upgrade (openstack-compute::vncproxy line 42)
Feb 21 20:42:25 server1.1  [2014-02-21T20:42:25-08:00] INFO: Processing service[openstack-nova-novncproxy] action enable (openstack-compute::vncproxy line 49)
Feb 21 20:42:25 server1.1  [2014-02-21T20:42:25-08:00] INFO: service[openstack-nova-novncproxy] enabled
Feb 21 20:42:25 server1.1  [2014-02-21T20:42:25-08:00] INFO: Processing service[openstack-nova-novncproxy] action start (openstack-compute::vncproxy line 49)
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:25-08:00] INFO: service[openstack-nova-novncproxy] started
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:25-08:00] INFO: Processing service[nova-console] action enable (openstack-compute::vncproxy line 57)
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:25-08:00] INFO: service[nova-console] enabled
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:25-08:00] INFO: Processing service[nova-console] action start (openstack-compute::vncproxy line 57)
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:25-08:00] INFO: service[nova-console] started
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:25-08:00] INFO: Processing service[nova-consoleauth] action enable (openstack-compute::vncproxy line 64)
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:25-08:00] INFO: service[nova-consoleauth] enabled
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:25-08:00] INFO: Processing service[nova-consoleauth] action start (openstack-compute::vncproxy line 64)
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:26-08:00] INFO: service[nova-consoleauth] started
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:26-08:00] INFO: Processing package[openstack-nova-conductor] action upgrade (openstack-compute::conductor line 26)
Feb 21 20:42:26 server1.1  [2014-02-21T20:42:26-08:00] INFO: package[openstack-nova-conductor] installing openstack-nova-conductor-2013.1.4-7.el6 from openstack repository
Feb 21 20:42:33 server1.1  [2014-02-21T20:42:32-08:00] INFO: package[openstack-nova-conductor] upgraded from uninstalled to 2013.1.4-7.el6
Feb 21 20:42:33 server1.1  [2014-02-21T20:42:32-08:00] INFO: Processing service[nova-conductor] action enable (openstack-compute::conductor line 32)
Feb 21 20:42:33 server1.1  [2014-02-21T20:42:32-08:00] INFO: service[nova-conductor] enabled
Feb 21 20:42:33 server1.1  [2014-02-21T20:42:32-08:00] INFO: Processing service[nova-conductor] action restart (openstack-compute::conductor line 32)
Feb 21 20:42:33 server1.1  [2014-02-21T20:42:32-08:00] INFO: service[nova-conductor] restarted
Feb 21 20:42:33 server1.1  [2014-02-21T20:42:32-08:00] INFO: Processing execute[nova-manage db sync] action run (openstack-compute::nova-setup line 26)
Feb 21 20:46:00 server1.1  [2014-02-21T20:45:59-08:00] INFO: execute[nova-manage db sync] ran successfully
Feb 21 20:46:00 server1.1  [2014-02-21T20:45:59-08:00] INFO: Processing package[python-quantumclient] action upgrade (openstack-compute::nova-setup line 109)
Feb 21 20:46:00 server1.1  [2014-02-21T20:45:59-08:00] INFO: Processing package[pyparsing] action upgrade (openstack-compute::nova-setup line 109)
Feb 21 20:46:00 server1.1  [2014-02-21T20:45:59-08:00] INFO: Processing cookbook_file[/usr/local/bin/add_floaters.py] action create (openstack-compute::nova-setup line 115)
Feb 21 20:46:00 server1.1  [2014-02-21T20:45:59-08:00] INFO: cookbook_file[/usr/local/bin/add_floaters.py] created file /usr/local/bin/add_floaters.py
Feb 21 20:46:00 server1.1  [2014-02-21T20:46:00-08:00] INFO: cookbook_file[/usr/local/bin/add_floaters.py] updated file contents /usr/local/bin/add_floaters.py
Feb 21 20:46:00 server1.1  [2014-02-21T20:46:00-08:00] INFO: cookbook_file[/usr/local/bin/add_floaters.py] mode changed to 755
Feb 21 20:46:00 server1.1  [2014-02-21T20:46:00-08:00] INFO: Processing package[openstack-nova-network] action purge (openstack-network::common line 38)
Feb 21 20:46:00 server1.1  [2014-02-21T20:46:00-08:00] INFO: Processing package[openstack-quantum] action install (openstack-network::common line 44)
Feb 21 20:46:00 server1.1  [2014-02-21T20:46:00-08:00] INFO: package[openstack-quantum] installing openstack-quantum-2013.1.4-4.el6 from openstack repository
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing directory[/etc/quantum/plugins] action create (openstack-network::common line 49)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: directory[/etc/quantum/plugins] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: directory[/etc/quantum/plugins] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: directory[/etc/quantum/plugins] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing directory[/var/cache/quantum] action create (openstack-network::common line 57)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: directory[/var/cache/quantum] created directory /var/cache/quantum
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: directory[/var/cache/quantum] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: directory[/var/cache/quantum] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: directory[/var/cache/quantum] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing directory[/var/cache/quantum] action create (openstack-network::common line 64)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing remote_directory[/etc/quantum/rootwrap.d] action create (openstack-network::common line 74)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: remote_directory[/etc/quantum/rootwrap.d] created directory /etc/quantum/rootwrap.d
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing cookbook_file[/etc/quantum/rootwrap.d/ryu-plugin.filters] action create (dynamically defined)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/ryu-plugin.filters] created file /etc/quantum/rootwrap.d/ryu-plugin.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/ryu-plugin.filters] updated file contents /etc/quantum/rootwrap.d/ryu-plugin.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/ryu-plugin.filters] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/ryu-plugin.filters] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/ryu-plugin.filters] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing cookbook_file[/etc/quantum/rootwrap.d/openvswitch-plugin.filters] action create (dynamically defined)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/openvswitch-plugin.filters] created file /etc/quantum/rootwrap.d/openvswitch-plugin.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/openvswitch-plugin.filters] updated file contents /etc/quantum/rootwrap.d/openvswitch-plugin.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/openvswitch-plugin.filters] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/openvswitch-plugin.filters] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/openvswitch-plugin.filters] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing cookbook_file[/etc/quantum/rootwrap.d/nec-plugin.filters] action create (dynamically defined)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/nec-plugin.filters] created file /etc/quantum/rootwrap.d/nec-plugin.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/nec-plugin.filters] updated file contents /etc/quantum/rootwrap.d/nec-plugin.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/nec-plugin.filters] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/nec-plugin.filters] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/nec-plugin.filters] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing cookbook_file[/etc/quantum/rootwrap.d/linuxbridge-plugin.filters] action create (dynamically defined)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/linuxbridge-plugin.filters] created file /etc/quantum/rootwrap.d/linuxbridge-plugin.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/linuxbridge-plugin.filters] updated file contents /etc/quantum/rootwrap.d/linuxbridge-plugin.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/linuxbridge-plugin.filters] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/linuxbridge-plugin.filters] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/linuxbridge-plugin.filters] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing cookbook_file[/etc/quantum/rootwrap.d/lbaas-haproxy.filters] action create (dynamically defined)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/lbaas-haproxy.filters] created file /etc/quantum/rootwrap.d/lbaas-haproxy.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/lbaas-haproxy.filters] updated file contents /etc/quantum/rootwrap.d/lbaas-haproxy.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/lbaas-haproxy.filters] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/lbaas-haproxy.filters] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/lbaas-haproxy.filters] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing cookbook_file[/etc/quantum/rootwrap.d/l3.filters] action create (dynamically defined)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/l3.filters] created file /etc/quantum/rootwrap.d/l3.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/l3.filters] updated file contents /etc/quantum/rootwrap.d/l3.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/l3.filters] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/l3.filters] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/l3.filters] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing cookbook_file[/etc/quantum/rootwrap.d/iptables-firewall.filters] action create (dynamically defined)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/iptables-firewall.filters] created file /etc/quantum/rootwrap.d/iptables-firewall.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/iptables-firewall.filters] updated file contents /etc/quantum/rootwrap.d/iptables-firewall.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/iptables-firewall.filters] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/iptables-firewall.filters] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/iptables-firewall.filters] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing cookbook_file[/etc/quantum/rootwrap.d/dhcp.filters] action create (dynamically defined)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/dhcp.filters] created file /etc/quantum/rootwrap.d/dhcp.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/dhcp.filters] updated file contents /etc/quantum/rootwrap.d/dhcp.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/dhcp.filters] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/dhcp.filters] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/dhcp.filters] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing cookbook_file[/etc/quantum/rootwrap.d/debug.filters] action create (dynamically defined)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/debug.filters] created file /etc/quantum/rootwrap.d/debug.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/debug.filters] updated file contents /etc/quantum/rootwrap.d/debug.filters
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/debug.filters] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/debug.filters] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: cookbook_file[/etc/quantum/rootwrap.d/debug.filters] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing template[/etc/quantum/rootwrap.conf] action create (openstack-network::common line 81)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/rootwrap.conf] backed up to /var/chef/backup/etc/quantum/rootwrap.conf.chef-20140221204614.967634
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/rootwrap.conf] updated file contents /etc/quantum/rootwrap.conf
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/rootwrap.conf] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/rootwrap.conf] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing template[/etc/quantum/policy.json] action create (openstack-network::common line 88)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/policy.json] backed up to /var/chef/backup/etc/quantum/policy.json.chef-20140221204614.975067
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/policy.json] updated file contents /etc/quantum/policy.json
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/policy.json] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/policy.json] mode changed to 644
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing execute[delete_auto_qpid] action nothing (openstack-network::common line 103)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing service[quantum-server] action nothing (openstack-network::common line 157)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing template[/etc/quantum/quantum.conf] action create (openstack-network::common line 165)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/quantum.conf] backed up to /var/chef/backup/etc/quantum/quantum.conf.chef-20140221204614.991537
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/quantum.conf] updated file contents /etc/quantum/quantum.conf
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/quantum.conf] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/quantum.conf] mode changed to 644
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/quantum.conf] not queuing delayed action restart on service[quantum-server] (delayed), as it's already been queued
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: Processing template[/etc/quantum/api-paste.ini] action create (openstack-network::common line 186)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/api-paste.ini] backed up to /var/chef/backup/etc/quantum/api-paste.ini.chef-20140221204614.998443
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:14-08:00] INFO: template[/etc/quantum/api-paste.ini] updated file contents /etc/quantum/api-paste.ini
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: template[/etc/quantum/api-paste.ini] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: template[/etc/quantum/api-paste.ini] mode changed to 644
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: template[/etc/quantum/api-paste.ini] not queuing delayed action restart on service[quantum-server] (delayed), as it's already been queued
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: Processing directory[/etc/quantum/plugins/openvswitch] action create (openstack-network::common line 201)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: directory[/etc/quantum/plugins/openvswitch] created directory /etc/quantum/plugins/openvswitch
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: directory[/etc/quantum/plugins/openvswitch] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: directory[/etc/quantum/plugins/openvswitch] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: directory[/etc/quantum/plugins/openvswitch] mode changed to 700
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: Processing service[quantum-plugin-openvswitch-agent] action nothing (openstack-network::common line 341)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: Processing template[/etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini] action create (openstack-network::common line 346)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: template[/etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini] created file /etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: template[/etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini] updated file contents /etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: template[/etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini] owner changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: template[/etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini] group changed to 164
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: template[/etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini] mode changed to 644
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: template[/etc/quantum/plugins/openvswitch/ovs_quantum_plugin.ini] not queuing delayed action restart on service[quantum-server] (delayed), as it's already been queued
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: Processing template[/etc/default/quantum-server] action create (openstack-network::common line 395)
Feb 21 20:46:15 server1.1  [2014-02-21T20:46:15-08:00] INFO: Processing package[openstack-quantum-openvswitch] action install (openstack-network::server line 42)
Feb 21 20:46:16 server1.1  [2014-02-21T20:46:15-08:00] INFO: package[openstack-quantum-openvswitch] installing openstack-quantum-openvswitch-2013.1.4-4.el6 from openstack repository
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: Processing directory[/var/cache/quantum/api] action create (openstack-network::server line 49)
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: directory[/var/cache/quantum/api] created directory /var/cache/quantum/api
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: directory[/var/cache/quantum/api] owner changed to 164
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: directory[/var/cache/quantum/api] group changed to 164
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: Processing template[/etc/init.d/quantum-server] action create (openstack-network::server line 55)
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: template[/etc/init.d/quantum-server] backed up to /var/chef/backup/etc/init.d/quantum-server.chef-20140221204621.125222
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: template[/etc/init.d/quantum-server] updated file contents /etc/init.d/quantum-server
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: Processing service[quantum-server] action enable (openstack-network::server line 63)
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: service[quantum-server] enabled
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: Processing service[quantum-server] action restart (openstack-network::server line 63)
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: service[quantum-server] restarted
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: Processing cookbook_file[quantum-ha-tool] action create (openstack-network::server line 69)
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: cookbook_file[quantum-ha-tool] created file /usr/local/bin/quantum-ha-tool.py
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: cookbook_file[quantum-ha-tool] updated file contents /usr/local/bin/quantum-ha-tool.py
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: cookbook_file[quantum-ha-tool] owner changed to 0
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: cookbook_file[quantum-ha-tool] group changed to 0
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: cookbook_file[quantum-ha-tool] mode changed to 755
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: Processing template[/etc/sysconfig/quantum] action create (openstack-network::server line 98)
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: template[/etc/httpd/mods-available/deflate.conf] sending restart action to service[apache2] (delayed)
Feb 21 20:46:21 server1.1  [2014-02-21T20:46:21-08:00] INFO: Processing service[apache2] action restart (apache2::default line 221)
Feb 21 20:46:23 server1.1  [2014-02-21T20:46:22-08:00] INFO: service[apache2] restarted
Feb 21 20:46:23 server1.1  [2014-02-21T20:46:22-08:00] INFO: [template[/etc/cinder/cinder.conf]] sending restart action to service[cinder-api] (delayed)
Feb 21 20:46:23 server1.1  [2014-02-21T20:46:22-08:00] INFO: Processing service[cinder-api] action restart (openstack-block-storage::api line 58)
Feb 21 20:46:24 server1.1  [2014-02-21T20:46:24-08:00] INFO: service[cinder-api] restarted
Feb 21 20:46:24 server1.1  [2014-02-21T20:46:24-08:00] INFO: [template[/etc/cinder/cinder.conf]] sending restart action to service[cinder-scheduler] (delayed)
Feb 21 20:46:24 server1.1  [2014-02-21T20:46:24-08:00] INFO: Processing service[cinder-scheduler] action restart (openstack-block-storage::scheduler line 50)
Feb 21 20:46:24 server1.1  [2014-02-21T20:46:24-08:00] INFO: service[cinder-scheduler] restarted
Feb 21 20:46:24 server1.1  [2014-02-21T20:46:24-08:00] INFO: template[/etc/nova/nova.conf] sending restart action to service[nova-api-ec2] (delayed)
Feb 21 20:46:24 server1.1  [2014-02-21T20:46:24-08:00] INFO: Processing service[nova-api-ec2] action restart (openstack-compute::api-ec2 line 48)
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:25-08:00] INFO: service[nova-api-ec2] restarted
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:25-08:00] INFO: template[/etc/nova/nova.conf] sending restart action to service[nova-api-os-compute] (delayed)
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:25-08:00] INFO: Processing service[nova-api-os-compute] action restart (openstack-compute::api-os-compute line 52)
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:25-08:00] INFO: service[nova-api-os-compute] restarted
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:25-08:00] INFO: template[/etc/nova/nova.conf] sending restart action to service[nova-cert] (delayed)
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:25-08:00] INFO: Processing service[nova-cert] action restart (openstack-compute::nova-cert line 32)
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:26-08:00] INFO: service[nova-cert] restarted
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:26-08:00] INFO: template[/etc/nova/nova.conf] sending restart action to service[nova-scheduler] (delayed)
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:26-08:00] INFO: Processing service[nova-scheduler] action restart (openstack-compute::scheduler line 41)
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:26-08:00] INFO: service[nova-scheduler] restarted
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:26-08:00] INFO: template[/etc/nova/nova.conf] sending restart action to service[openstack-nova-novncproxy] (delayed)
Feb 21 20:46:26 server1.1  [2014-02-21T20:46:26-08:00] INFO: Processing service[openstack-nova-novncproxy] action restart (openstack-compute::vncproxy line 49)
Feb 21 20:46:27 server1.1  [2014-02-21T20:46:26-08:00] INFO: service[openstack-nova-novncproxy] restarted
Feb 21 20:46:27 server1.1  [2014-02-21T20:46:26-08:00] INFO: template[/etc/nova/nova.conf] sending restart action to service[nova-console] (delayed)
Feb 21 20:46:27 server1.1  [2014-02-21T20:46:26-08:00] INFO: Processing service[nova-console] action restart (openstack-compute::vncproxy line 57)
Feb 21 20:46:27 server1.1  [2014-02-21T20:46:27-08:00] INFO: service[nova-console] restarted
Feb 21 20:46:27 server1.1  [2014-02-21T20:46:27-08:00] INFO: template[/etc/nova/nova.conf] sending restart action to service[nova-consoleauth] (delayed)
Feb 21 20:46:27 server1.1  [2014-02-21T20:46:27-08:00] INFO: Processing service[nova-consoleauth] action restart (openstack-compute::vncproxy line 64)
Feb 21 20:46:28 server1.1  [2014-02-21T20:46:27-08:00] INFO: service[nova-consoleauth] restarted
Feb 21 20:46:28 server1.1  [2014-02-21T20:46:27-08:00] INFO: template[/etc/nova/nova.conf] sending restart action to service[nova-conductor] (delayed)
Feb 21 20:46:28 server1.1  [2014-02-21T20:46:27-08:00] INFO: Processing service[nova-conductor] action restart (openstack-compute::conductor line 32)
Feb 21 20:46:28 server1.1  [2014-02-21T20:46:28-08:00] INFO: service[nova-conductor] restarted
Feb 21 20:46:28 server1.1  [2014-02-21T20:46:28-08:00] INFO: template[/etc/quantum/policy.json] sending restart action to service[quantum-server] (delayed)
Feb 21 20:46:28 server1.1  [2014-02-21T20:46:28-08:00] INFO: Processing service[quantum-server] action restart (openstack-network::server line 63)
Feb 21 20:46:29 server1.1  [2014-02-21T20:46:29-08:00] INFO: service[quantum-server] restarted
Feb 21 20:46:29 server1.1  [2014-02-21T20:46:29-08:00] INFO: Chef Run complete in 1449.433415826 seconds
Feb 21 20:46:30 server1.1  [2014-02-21T20:46:30-08:00] INFO: Running report handlers
Feb 21 20:46:30 server1.1  [2014-02-21T20:46:30-08:00] INFO: Report handlers complete
