{
    "openstack-image": {
        "openstack-image" : "openstack-image"
    },
    "openstack-compute": {
        "openstack-compute": "openstack-compute"
    },
    "openstack-block-storage": {
        "openstack-block-storage": "openstack-block-storage"
    },
    "openstack-orchestration": {
        "openstack-orchestration": "openstack-orchestration"
    },
    "openstack-network": {
        "openstack-network": "openstack-network"
    },
    "rbd": {
        "rbd": "rbd"
    }
}
