#set credentials = $getVar('service_credentials', {})
{
  "name": "testing",
  "description": "Environment",
  "cookbook_versions": {
  },
  "json_class": "Chef::Environment",
  "chef_type": "environment",
  "default_attributes": {
  },
  "override_attributes": {
      "compute": {
          "syslog": {
            "use": false
          },
          "libvirt": {
            "bind_interface": "$os_compute.management.interface"
          },
          "novnc_proxy": {
            "bind_interface": "$os_controller.management.interface"
          },
          "xvpvnc_proxy": {
            "bind_interface": "eth0"
          }
      },
      "db": {
        "bind_interface": "$os_controller.management.interface",
        "compute": {
          "host": "$os_controller.management.ip"
        },
        "identity": {
          "host": "$os_controller.management.ip"
        }
      },
      "mq": {
        "user": "$credentials.mq.username",
        "password": "$credentials.mq.password",
        "vhost": "/nova",
        "network": {
          "service_type": "rabbitmq"
        }
      }
    }
}
