#set cluster_name = $getVar('name', '')
[defaults]
log_path = /var/ansible/run/openstack_newton_xenial-$cluster_name/ansible.log
host_key_checking = False
callback_plugins = /opt/compass/bin/ansible_callbacks
pipelining=True
