#set aval_services = ['nova', 'horizon', 'keystone']
#set service_config = $getVar('service_credentials', {})

#set databagitems = {}
#for $service in $aval_services:                                             
    #set databagitems[$service] = {$service: $service}                       
#end for

#if service_config:
    #for $service, $value in $service_config.iteritems():
        #if $service in $aval_services:
            #set databagitems[$service] = {$service: $value.password}
        #end if
    #end for
#end if
#import simplejson as json
#set output = json.dumps($databagitems, encoding='utf-8')
$output
