#set ha_vip = $getVar('ha_vip')
#set ha_proxy_role = $getVar('os_ha', None)
#set ha_proxy_nic = $ha_proxy_role.management.interface
{
  "default_attributes": {
    "ceph": {
      "is_keystone_integration": true,
    },
    "haproxy": {
      "incoming_address": "$ha_vip"
    },
    "keepalived": {
      "vip": {
        "ipaddress": "$ha_vip",
        "interface": "$ha_proxy_nic"
      }
    },
    "openstack": {
      "use_databags": false,
      "endpoints": {
        "compute-api": {
          "host": "$ha_vip"
        },
        "compute-ec2-admin": {
          "host": "$ha_vip"
        },
        "compute-ec2-api": {
          "host": "$ha_vip"
        },
        "compute-novnc": {
          "host": "$ha_vip"
        },
        "image-api": {
          "host": "$ha_vip"
        },
        "image-registry": {
          "host" : "$ha_vip"
        },
        "identity-api": {
          "host": "$ha_vip"
        },
        "identity-admin": {
          "host": "$ha_vip"
        },
        "block-storage-api": {
          "host": "$ha_vip"
        },
        "network-api": {
          "host": "$ha_vip"
        }
      }
    }
  }
}
